<div class="text-center">
  <% if(success && success.length) {%>
  <div class="my-3 text-green-700">
    <%= success %>
    <button
      type="button"
      class="close py-1 px-3 border border-red-400 hover:border-red-600 rounded-full"
    >
      <span class="flex items-center">&times;</span>
    </button>
  </div>
  <% } %> <% if(error && error.length) {%>
  <div class="my-3 text-red-700">
    <%= error %>
    <button
      type="button"
      class="close py-1 px-3 border border-red-400 hover:border-red-600 rounded-full"
    >
      <span class="flex items-center">&times;</span>
    </button>
  </div>
  <% } %>
</div>
