<header class="text-center p-4 bg-orange-400 w-full">
  <nav
    class="md:max-w-4xl mx-auto md:flex md:gap-3 md:items-center md:justify-between"
  >
    <a href="/">
      <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-2 md:mb-0">
        YelpCamp
      </h1>
    </a>
    <ul class="flex gap-5 items-center justify-evenly">
      <li><a href="/" class="link transition">Home</a></li>
      <li>
        <a href="/campgrounds" class="link transition">All Campgrounds</a>
      </li>
      <li>
        <a href="/campgrounds/new" class="link transition">New Campground</a>
      </li>
    </ul>
  </nav>
</header>
