<div class="w-3/4 mx-auto flex justify-center">
  <div class="text-center">
    <h4 class="text-2xl font-semibold">Sorry, <%= err.message %></h4>
    <p class="my-3">Please, check the link and try again.</p>
  </div>
</div>
