<section
  class="flex items-center justify-center text-white h-screen text-center bg-[url(https://cdn.pixabay.com/photo/2016/11/29/04/17/bonfire-1867275_1280.jpg)] bg-cover bg-center bg-no-repeat before:content-[''] before:bg-black before:opacity-50 before:inset-0 before:absolute relative">
  <div class="top-[30%] z-10">
    <h1 class="text-3xl mb-5">Welcome to YelpCamp!</h1>
    <hr class="mx-auto rounded-full bg-gray-500 w-1/2" />
    <div class="my-3 px-[2%]">
      <p class="mb-1">
        A community driven app to search for jaw dropping campgrounds around the
        world.
      </p>
      <p>Click on the button and checkout some campgrounds yourself.</p>
      <button class="btn border border-white text-white">
        <a href="/campgrounds">Go to Campgrounds</a>
      </button>
    </div>
  </div>
</section>