<div id="map" class="w-full h-[300px]"></div>

<div class="mx-[5%] md:mx-auto md:max-w-5xl">
  <h3 class="text-3xl my-3 text-center">All Campgrounds</h3>
  <%- include("../partials/searchForm", {url:"/campgrounds"}) %>
  <div><%- include("../partials/cardGrid", {campgrounds}) %></div>
</div>

<!-- mapbox -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>

<script>
  const mapToken = "<%-process.env.MAPBOX_ACCESS_TOKEN%>";
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/clusterMap.js"></script>
