<h3 class="text-3xl">All Campgrounds</h3>
<div>
  <a href="/campgrounds/new" class="btn">Add Campground</a>
</div>
<ul>
  <% for (let campground of campgrounds){%>
  <li>
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
  </li>
  <% }%>
</ul>
